x-main_conf: &main_conf
  network_mode: bridge
  build:
    context: ../../
    dockerfile: ./deployment/docker/Dockerfile
  image: ${DOCKER_REGISTRY}/${DOCKER_IMAGE_REPO}:${DOCKER_IMAGE_TAG}
  volumes:
  - ../../:/workspace
  - /var/run/docker.sock:/var/run/docker.sock
  - ~/.aws:/root/.aws


services:

  destroy_root:
    <<: *main_conf
    entrypoint: sh -c "pipenv run python3.10 -m deployment.tf_manager \
                                                --tf-action destroy \
                                                --tf-project root"
    profiles:
    - root

  destroy_jenkins:
    <<: *main_conf
    entrypoint: sh -c "pipenv run python3.10 -m deployment.tf_manager \
                                                --tf-action destroy \
                                                --tf-project jenkins"
    profiles:
    - jenkins
    - all


  destroy_codeartifact:
    <<: *main_conf
    entrypoint: sh -c "pipenv run python3.10 -m deployment.tf_manager \
                                                --tf-action destroy \
                                                --tf-project codeartifact"
    profiles:
    - codeartifact
    - all

  destroy_github_actions:
    <<: *main_conf
    entrypoint: sh -c "pipenv run python3.10 -m deployment.tf_manager \
                                                --tf-action destroy \
                                                --tf-project github_actions"
    profiles:
    - github_actions
    - all

  destroy_batch_runner:
    <<: *main_conf
    entrypoint: sh -c "pipenv run python3.10 -m deployment.tf_manager \
                                                --tf-action destroy \
                                                --tf-project batch_runner"
    profiles:
    - batch_runner
    - all

  destroy_python_env_runner:
    <<: *main_conf
    entrypoint: sh -c "pipenv run python3.10 -m deployment.tf_manager \
                                                --tf-action destroy \
                                                --tf-project python_env_runner"
    profiles:
    - python_env_runner
    # - all

  destroy_app_infra:
    <<: *main_conf
    entrypoint: sh -c "pipenv run python3.10 -m deployment.tf_manager \
                                                --tf-action destroy \
                                                --tf-project app_infra"
    profiles:
    - app_infra
